<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->

<p>
  <button class=button1>Primary</button>
</p>

<p>
  <button class=button2>Secondary</button>
</p>

<p>
  <button class=button3>Success</button>
</p>

<p>
  <button class=button4>Danger</button>
</p>

<p>
  <button class=button5>Warning</button>
</p>

<p>
  <button class=button6>Info</button>
</p>


<p>Less intrusive variants:</p>

<p>
  <button class=button1_unobtrusive>Primary (unobtrusive)</button>
</p>

<p>
  <button class=button2_unobtrusive>Secondary (unobtrusive)</button>
</p>

<p>
  <button class=button3_unobtrusive>Success (unobtrusive)</button>
</p>

<p>
  <button class=button4_unobtrusive>Danger (unobtrusive)</button>
</p>

<p>
  <button class=button5_unobtrusive>Warning (unobtrusive)</button>
</p>

<p>
  <button class=button6_unobtrusive>Info (unobtrusive)</button>
</p>
